.nav-link {
    text-decoration: none;
    &:hover{
      color: rgb(128, 128, 201) !important;
    }
  }
  .dark .navbar .navbar-nav .nav-link.active {
    font-weight: bold !important;
    color: rgb(128, 128, 201) !important;
}

a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: #ffffff;
  background-color: #1565c0;
  text-align: center;
  padding: 5px 1em 5px 1em;
  margin: 10px 3px 10px 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  transition: all .2s ease;
  display: inline-block;

  &:hover{
    background-color: #1b86ff;
  }

  &:active {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
}


.button-container {
  display: flex;
  justify-content: center;
}

.button-container > div {
  margin-right: 10px;
}

.avatar-wrapper {
  display: flex;
}

#profile > div.avatar-wrapper > img {
  position: relative;
  display: flex;
  max-height: 300px;
  max-width: 300px;
  right: 80px;
}

.avatar-wrapper .avatar-emoji {
  right: -20px;
}

.bio-text {
  width: 200%; /* or any desired value */
}