.nav-link {
    text-decoration: none;
    &:hover{
      color: rgb(128, 128, 201) !important;
    }
  }
  .dark .navbar .navbar-nav .nav-link.active {
    font-weight: bold !important;
    color: rgb(128, 128, 201) !important;
}

a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: #ffffff;
  background-color: #1565c0;
  text-align: center;
  padding: 5px 1em 5px 1em;
  margin: 10px 3px 10px 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  transition: all .2s ease;
  display: inline-block;

  &:hover{
    background-color: #1b86ff;
  }

  &:active {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
}


.button-container {
  display: flex;
  justify-content: center;
}

.button-container > div {
  margin-right: 10px;
}

.avatar-wrapper {
  display: flex;
}

#profile > div.avatar-wrapper > img {
  position: relative;
  display: flex;
  max-height: 300px;
  max-width: 300px;
  right: 80px;
}

.avatar-wrapper .avatar-emoji {
  right: -20px;
}

.bio-text {
  width: 200%; /* or any desired value */
}

#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-lifetime{
  height: 450px;
}

#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-lifetime > div > div > div.col-12.col-md-6.order-first.order-md-2 > a > img{
  height: 400px;
  width: 400px;
}


#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-deeplearning.js-id-featurevis{
  height: 400px;
}
#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-deeplearning.js-id-featurevis > div > div > div.col-12.col-md-6.order-first{
  height: 250px;
}
#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-deeplearning.js-id-featurevis > div > div > div.col-12.col-md-6.order-first > a > img{
  height: 200px;
  width: 200px;
  position: relative;
  left: 200px;
}
#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-labautomation.js-id-maps > div > div > div.col-12.col-md-6.order-first.order-md-2 > a > img{
  height: 400px;
  width: 500px;
}

#projects > div.container > div > div:nth-child(2) > div.isotope.projects-container.row.js-layout-row.project-showcase > div.col-12.isotope-item.js-id-deeplearning.js-id-featurevis > div > div > div.col-12.col-md-6.order-first > a > img{
  position: relative;
  left: 100px;
  width: 380px;
}

#pub > div.container > div > div:nth-child(2) > div:nth-child(2) > div.ml-3 > a > img{
  height: 60px;
  width: 200px;
}